In [1]:
import pandas as pd

df = pd.read_csv('energy.csv')
df

,Company Name,Total Interns,Employees,Address,Town,State,Zip,Sector
0,"1366 Technologies, Inc.",10,55.0,6 Preston Ct,Bedford,MA,1730,Solar
1,180 South Solar,1,4.0,"2 Merrimack Street, 3rd Floor",Haverhill,MA,1830,Solar
2,"24M Technologies, Inc.",34,148.0,130 Brookline Street,Cambridge,MA,2139,Other
3,"2Witech Solutions, LLC",4,3.0,100 School Street,Andover,MA,1810,Water Technology
4,"360Chestnut, Inc.",22,6.0,99 Winchester St # 1,Brookline,MA,2446,Energy Efficiency
...,...,...,...,...,...,...,...,...
774,Zephyr Energy Corporation,1,1.0,106 Queensbury St. Apt. D,Boston,MA,2215,Wind
775,"Zephyr Innovations, Inc.",2,2.0,444 Somerville Ave.,Somerville,MA,2143,Energy Efficiency
776,ZERO (Gunnison Company),2,1.0,11 TROWBRIDGE ST,CAMBRIDGE,MA,2138,Green Building
777,ZeroEnergy Design,21,8.0,234 Causeway Street Apt 1006,Boston,MA,2114,Green Building
778,"ZwitterCo, Inc.",10,35.0,"12 Cabot Road, Suite B",Woburn,MA,1801,Water Technology

In [14]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)
profile.to_widgets()

ImportError: cannot import name 'display' from 'IPython.core.display' (/Users/NGSWTKAK/Data Analysis/Advanced Computing for Policy/giulio-naga-api/.venv/lib/python3.12/site-packages/IPython/core/display.py)

In [12]:
def check_numeric(data, column):
    assert data[column].dtype in ['int64', 'float64'], f'{column} is not numeric'

numeric_cols = ['Total Interns', 'Employees']

for col in numeric_cols:
    check_numeric(df, col)

print("all the columns are numeric.")

all the columns are numeric.

In [13]:
def is_outlier(value, q1, q3):
    iqr = q3 - q1
    lower_bound = q1 - 1.5*iqr
    upper_bound = q3 + 1.5*iqr
    return value < lower_bound or value > upper_bound

def column_has_outliers(data, column):
    q1 = data[column].quantile(0.25)
    q3 = data[column].quantile(0.75)
    return data[column].apply(lambda x: is_outlier(x, q1, q3))

assert not column_has_outliers(df, 'Total Interns').any(), 'Total Interns has outliers'
assert not column_has_outliers(df, 'Employees').any(), 'Employees has outliers'

AssertionError: Total Interns has outliers